@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.titulos {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.textos{
  font-family: "Raleway", sans-serif;
}

.anchoColumna{
  width: 15%;
}

.nav-tabs .nav-link{
  color: black;
  font-size: 18px;
  background-color: #eeeeee;
}

.nav-tabs .nav-link:hover{
  color: black;
}

/* Borro las flechas en input tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#formDescripcionBreve,
#formDescripcionAmplia{
  height: 120px;
  resize: none;
}
.btnCardHabitacion{
  background: #aca650;
  width: 100%;
  font-family:  "Rubik", sans-serif;
}
.bodyCardHabitacion .card-title, .card-text {
  color: #485c70;
}
.card-img-top-nueva {
  height: 200px;
  object-fit: cover;
}

/* Configuraciones de carrousel (página quienes somos) */
.carousel-inner .carousel-item{
  background-color: black;
}

.carousel-inner .carousel-item img{
  object-fit: cover;
  object-position: center;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  opacity: 45%;
}