@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.titulos {
  font-family: "Rubik", sans-serif;
}

.anchoColumna{
  width: 15%;
}

.nav-tabs .nav-link{
  color: black;
  font-size: 18px;
  background-color: #eeeeee;
}

.nav-tabs .nav-link:hover{
  color: black;
}